{% extends "base.j2" %}
{% block main_content %}
    <h1>Device Central</h1>
    <form action="{{ url_for('manage_device') }}" method="post">
        {# Dropdown Name Selector #}
        Name:
        <select name="names">
            {% for name in names %}<option value="{{ name }}" SELECTED>{{ name }}</option>{% endfor %}
        </select>
        {# Serial Number and SKU Input Field - add validation #}
        Serial Numbers:
        <input type="text" name="serials">
        {# 2 buttons one for check in one for check out #}
        <input type="submit" name="check_in" value="Check in">
        <input type="submit" name="check_out" value="Check Out">
    </form>
{% endblock main_content %}
